.sidebar
{
    flex: 4; 
}

.SidebarlistText
{
    color: orangered;
    font-size: 20px;
}

.Sidebarlist{
    padding: 0;
    margin: 0;
    list-style: none;

}

.SidebarlistItem
{
    display: flex;
    align-items: center;
    margin-bottom: 5px; 
    padding-top: 10px;
}